@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --sl-nav-height: 3.5rem;
  --sl-content-width: 64rem;
  --sl-card-border: var(border-gray-200);
}

header {
  height: 3.5rem;
}

/* nav styles */
.nav-links {
  width: 100%;
  display: none;
  margin: 0;
  overflow: hidden;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--sl-color-white);
}

.nav-links a:hover,
.nav-links a:focus {
  background: var(--sl-color-gray-5);
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 14px 20px;
  }
}
