button.btn {
    @apply text-sm mx-auto lg:mx-0 bg-gray-100 text-gray-600 font-bold rounded-xl my-6 px-6 py-3 focus:outline-none transform transition duration-300 ease-in-out;
}

button.btn-blue {
    @apply text-white bg-kratos;
}
